<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item">
        <b>Tagpost</b>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a href="#" class="navbar-item">
          Home
        </a>
        <a href="#" class="navbar-item">
          About
        </a>
      </div>
      <div class="navbar-end">
        <a href="https://github.com/googleinterns/tagpost" class="navbar-item">
          <ion-icon size="large" name="logo-github"></ion-icon>
        </a>
      </div>
    </div>
  </div>
</nav>
