<div class="container">
  <div class="columns">
    <div class="column is-one-quarter">
      <app-modal></app-modal>
      <br>
      <div class="box">
        <h5 class="title is-5"># TAG CATEGORIES</h5>
        <!-- placeholder for demo purpose -->
        <div class="tags">
          <a class="tag is-light is-medium is-primary">tag</a>
          <a class="tag is-light is-medium is-success">tag</a>
          <a class="tag is-light is-medium is-warning">tag</a>
          <a class="tag is-light is-medium is-danger">tag</a>
          <a class="tag is-light is-medium is-link">tag</a>
          <a class="tag is-light is-medium is-success">tag</a>
          <a class="tag is-light is-medium is-info">tag</a>
          <a class="tag is-light is-medium is-success">tag</a>
        </div>
      </div>
    </div>
    <div class="column">
       <router-outlet></router-outlet>
    </div>
  </div>
</div>
